# Essential Libraries
numpy
scipy
pandas
matplotlib
statsmodels
scikit-learn
xgboost
tensorflow
streamlit 
gluonts[torch]<=0.14.4
torch==2.0.1
torchvision==0.15.2 
torchaudio==2.0.2
wandb
huggingface_hub[cli]
pyodbc